.main{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: var(--quadruple-space) var(--space);
    max-width: var(--max-size);

    &__form{
        display: flex;
        width: 100%;
        column-gap: var(--double-space);
        row-gap: var(--double-space);
        flex-wrap: wrap;

        > *{
            flex-grow: 1;

            &.main__legend{
                font-size: calc(var(--default-font-size) * 1.75);
                font-weight: 500;
                flex-basis: 100%;
            }

            &.main__btn{
                flex-basis: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}
